.e_doc_table {
    border-collapse: collapse; 
    border-spacing:0; 
    width:800px;
}

.e_doc_title {     
    font-size: 24px;
}

.e_doc_only_title {     
    font-size: 32px;
    color: #000;
    font-weight: 800;
}

.e_doc_table th {
    font-weight: 600;
    background : #ddd;
    border:1px solid #000; 
    text-align:center;
}

.e_doc_table td {
    height: 30px;    
    border:1px solid #000; 
    text-align:center;
    width:40px;
    height:30px;
}

